<% if signed_in? %>
<div class="row">
  <div class="col-md-8">
    <h1> All Jobs</h1>
    <ul class="jobs">
      <%= render @jobs %>
    </ul>
  </div>
  <div class="col-md-4">
    <%= render 'shared/user_info' %>
    Post a job
  </div>
</div>
<!-- <div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="span8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div> -->
<% else %>

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>Welcome to kevin aditya sample app</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

<div class="row">
  <div class="col-md-8">
    <h1> All Jobs</h1>
    <ul class="jobs">
      <%= render @jobs %>
    </ul>
  </div>
  <div class="col-md-4">

  </div>
</div>

<% end %>