<tr>
	
	<% if job.category == "Casual" %>
	<td class="info">
		<%= job.category %>
	</td>
	<% elsif job.category == "Part-time" %>
	<td class="success">
		<%= job.category %>
	</td>
	<% else %>
	<td class="warning">
		<%= job.category %>
	</td>
	<% end %>

	
	<td class="role">
		<h4><%= link_to job.role, job_path(job.id) %></h4>
	</td>
	<td class="type">
		<%= job.employer %><br/><%= job.location %>
	</td>
	<td>
		Posted <em><%= time_ago_in_words(job.created_at) %></em> ago.
		<br/>Expired: <%= job.closed_date.strftime("%d/%m/%Y") %>
	</td>
	<td>
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				Share <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" data-url="https://cobaocab.herokuapp.com/jobs/">
				<li class="social-likes social-likes_vertical"> <div class="facebook" title="Share link on Facebook">Facebook</div></li>
				<li class="social-likes social-likes_vertical"><div class="twitter" data-via="Coba_Ocab" data-related="Free job listing and sharing for students and new graduates" title="Share link on Twitter">Twitter</div></li>
				<li class="social-likes social-likes_vertical"> <div class="plusone" title="Share link on Google+">Google+</div></li>
			</ul>
		</div>
		<% if current_user?(job.user) %>
		<%= link_to "Edit", edit_job_path(job.id),:class=>"btn btn-default"%>
		<%= link_to "Delete", job, method: :delete,
		data: { confirm: "Are you sure you want to remove this job from the list?" },
		title: job.role, :class=>"btn btn-danger" %>
		<% end %>
	</td>
</tr>

$('.social-likes').socialLikes({
    url: 'https://cobaocab.herokuapp.com/jobs/<%= job.id %>',
});
