<% provide(:title, @job.role) %>
<h1><%= @job.role %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@job , :html => {:class => "form-horizontal"})  do |f| %>
    <%= render 'shared/error_messages', object: f.object%>

    <div class="form-group">
      <%= f.label :employer, :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <p class="form-control-static"><%= @job.employer %> </p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :location, :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <p class="form-control-static"><%= @job.location %> </p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :role, :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
       <p class="form-control-static"><%= @job.role %> </p>
     </div>
   </div>

   <div class="form-group">
    <%= f.label :description, :class =>"col-sm-2 control-label" %>
    <div class="col-sm-6">
     <p class="form-control-static"><%= simple_format @job.description %> </p>
   </div>
 </div>

 <div class="form-group">
  <%= f.label :criteria, :class =>"col-sm-2 control-label" %>
  <div class="col-sm-6">
   <p class="form-control-static"><%= simple_format @job.criteria %> </p>
 </div>
</div>

<div class="form-group">
  <%= f.label :category, :class =>"col-sm-2 control-label" %>
  <div class="col-sm-6">
    <p class="form-control-static"><%= @job.category %> </p>
  </div>
</div>

<div class="form-group">
  <%= f.label :salary, :class =>"col-sm-2 control-label" %>
  <div class="col-sm-6"> 
    <p class="form-control-static">
      <% if !@job.salary.nil? %>
      $<%= @job.salary %> 
      <% end %> 
      <%= @job.salary_type %> 
    </p>
  </div>
</div>

<div class="form-group">
  <%= f.label :closed_date, :class =>"col-sm-2 control-label" %>
  <div class='input-group col-sm-5' id='datetimepicker5'>
   <p class="form-control-static"><%= @job.closed_date.strftime("%d/%m/%Y") %></p>
 </div>
</div>

<div class="form-group">
  <%= f.label :how_to_apply, :class =>"col-sm-2 control-label" %>
  <div class="col-sm-6">
   <p class="form-control-static"><%= simple_format @job.apply %> </p>
 </div>
</div>


<div class="form-group">
  <div class="col-sm-offset-2 col-sm-2">
    <% if current_user?(@job.user) %>
    <%= link_to "Edit", edit_job_path(@job),:class=>"btn btn-primary"%>
    <%= link_to "Delete", @job, method: :delete,
    data: { confirm: "Are you sure you want to remove this job from the list?" },
    title: @job.role, :class=>"btn btn-danger" %>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :share, :class =>"col-sm-2 control-label" %>
  <div class="col-sm-6">
    <div class="social-likes" data-counters="no">
      <div class="facebook" title="Share link on Facebook">Facebook</div>
      <div class="twitter" data-via="Coba_Ocab" data-related="Free job listing and sharing for students and new graduates" title="Share link on Twitter">Twitter</div>
      <div class="plusone" title="Share link on Google+">Google+</div>
    </div>
  </div>
</div>


<% end %>
</div>
</div>
