<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%=  User.find(1).jobs %>
    <% if @user.jobs.any? %>
      <h3>Jobs (<%= @user.jobs.count %>)</h3>
      <ol class="jobs">
        <%= render @jobs %>
      </ol>
      <%= will_paginate @jobs %>
    <% end %>
  </div>
</div>